.header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.header__desktop {
  display: none;
  @media (min-width: 992px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
.header__mobile {
  display: block;
  @media (min-width: 992px) {
    display: none;
  }
}
.navbar {
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  background-color: var(--color-bg-top) !important;
}
.container-fluid {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0; 
}
.navbar-toggler {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
  background: transparent;
}
.header__contacts {
  width: 100%;
  height: 40px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--color-primary);
  font-size: clamp(0.7rem, 2vw, 0.9rem);
  font-weight: 500;
  line-height: 1.2rem;
  a {
    color: var(--color-primary);
  }
  @media (min-width: 768px) {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  @media (min-width: 1024px) {
    max-width: 1200px;
  }
}
.header__logo {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 180px;
  height: 100%;
}
.navbar-toggler {
  padding: 0;
  border: none;
  width: auto;
  height: auto;
  outline: none;
  box-shadow: none;
  &:focus {
    border: none;
    outline: none;
    box-shadow: none;
  }
}
.header__menu-icon {
  width: 30px;
  height: 30px;
  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
.offcanvas {
    width: calc(100% - 60px);
    height: 300px !important;
    transition: none;
  @media (min-width: 768px) {
    width: calc(100% - 100px);
    height: 400px !important;
  }
}
.offcanvas.offcanvas-top {
  width: 60%; 
  max-width: 500px;
  top: 0;
  left: 50%;                 
  transform: translateX(-50%) translateY(-20px); 
  border-radius: 0 0 1rem 1rem; 
  opacity: 0;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}
.offcanvas.offcanvas-top.show {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
}
.offcanvas.offcanvas-top.hiding {
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    transition:
      transform 0.3s ease-in,
      opacity 0.3s ease-in;
}
.offcanvas-header {
  padding: 5px !important;
  margin: 0 !important;
  background-color: var(--color-bg-top);
}
.close-icon {
  display: block;
  width: 20px;
  height: 20px;
}
.offcanvas-body {
  padding-top: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-top);
}
.navig-item {
  padding: 0.6rem 1.09rem 0.6rem 1.09rem;
  height: 2.3rem;
  font-weight: 600;
  &:nth-child(even) {
    justify-self: end;
  }
  & > a {
    text-decoration: none;
    color: var(--color-primary);
  }
  & > a:hover {
    color: var(--color-accent);
  }
}
.navig-item--media {
  width: 22px;
  height: 22px;
  margin-left: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: transform 0.2s ease;
  &:hover {
    transform: scale(1.05);
  }
  & img {
    width: 22px;
    height: 22px;
    display: block;
  }
  .icon-facebook:hover {
    content: url("../assets/icons/facebook-header-hover.svg");
  }
  .icon-instagram:hover {
    content: url("../assets/icons/instargam-header-hover.svg");
  }
  .icon-youtube:hover {
    content: url("../assets/icons/youtube-header-hover.svg");
  }
}
.header__top-bg{
  width: 100%;
  background-color: var(--color-bg-top);
}
.header__top {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--color-bg-top);
}
.header__contacts {
  width: 100%;
  height: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  a {
    color: var(--color-primary);
  }
}
.header__logo {
  height: 84px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .media__img {
    width: 267px;
    height: 30px;
  }
}
.header__nav{
  width: 679px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}
.navig__menu {
  display: flex;
  align-items: center;
  & li {
    padding: 0.6rem 1.09rem 0.6rem 1.09rem;
    height: 2.3rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
  & li:hover {
    border-bottom: 2px solid var(--color-accent);
  }
  & li:nth-child(even) {
    justify-self: end;
  }
  & li > a {
    text-decoration: none;
    color: var(--color-primary);
  }
  & li > a:hover {
    color: var(--color-accent);
  }
}
.media__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  padding-inline-start: 0;
  & li {
    margin-left: 0.6rem;
  }
  & li:nth-child(even) {
    justify-self: end;
  }
}
.icon-facebook:hover {
  content: url('../assets/icons/facebook-header-hover.svg');
}
.icon-instagram:hover {
  content: url('../assets/icons/instargam-header-hover.svg');
}
.icon-youtube:hover {
  content: url('../assets/icons/youtube-header-hover.svg');
}
@media (min-width: 1024px) {
  .my-container{
    max-width: 1200px;
  }
}