.facts {
  width: 100%;
}
.facts-wave {
  width: 100%;
  height: 100px;
  background-image: url("../assets/images/wave-yellow-orange-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.facts__bg {
  width: 100%;
  padding-bottom: 140px;
  background-image: url("../assets/images/world-map-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.facts__info {
  width: 100%;
  padding: 4.4rem 0 2.3rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 768px) {
    flex-direction: row;
    padding: 3rem 0 2rem 1rem;
  }
  @media (min-width: 992px) {
    padding: 4.5rem 0 0.2rem 1rem;
  }
  .facts__mark {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: clamp(0.85rem, 2.5vw, 0.9rem);
    font-weight: 700;
    letter-spacing: 0.08rem;
    line-height: 0.9rem;
    color: var(--color-info);
    text-transform: uppercase;
    @media (min-width: 768px) {
      text-align: start;
    }
  }
  .facts__title {
    width: 100%;
    text-align: center;
    font-size: clamp(2.1rem, 4.5vw, 2.86rem);
    font-weight: 700;
    line-height: 2.3rem;
    @media (min-width: 768px) {
      text-align: start;
    }
  }
  .facts__text {
    align-self: flex-start;
    width: 100%;
    padding-right: 8px;
    color: var(--color-secondary);
    text-align: center;
    font-size: clamp(0.9rem, 2.5vw, 1.15rem);
    font-weight: 500;
    line-height: 1.5rem;
    @media (min-width: 768px) {
      max-width: 410px;
      text-align: justify;
    }
    @media (min-width: 992px) {
      max-width: 558px;
    }
  }
}
.facts__info-titles {
  margin-bottom: 3.1rem;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
.facts__grid {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
  grid-template-areas:
    "photo"
    "box2"
    "box3"
    "box4"
    "box5";
  justify-items: center;
  align-items: center;
  background-color: transparent;
  gap: 30px;
  overflow: visible;
  @media (min-width: 768px) {
    grid-template-areas:
      "photo box2"
      "photo box3"
      "box4 box5";
  }
  @media (min-width: 992px) {
    grid-template-areas:
      "photo box2 box3"
      "photo box4 box5";
  }
}
.photo {
  grid-area: photo;
}
.box2 {
  grid-area: box2;
}
.box3 {
  grid-area: box3;
}
.box4 {
  grid-area: box4;
}
.box5 {
  grid-area: box5;
}
.facts__grid-item {
  width: 100%;
  height: 100%;
  padding: 1.25rem;
  background-color: var(--color-text-bg);
}
.facts__grid .photo{
    padding: 0;
}
.facts__grid .photo img {
  width: 100%;
  height: 100%;
  min-height: 520px;
  object-fit: cover;
  display: block;
}
.facts__item-subtitle {
  font-size: clamp(1.375rem, 2vw, 1.5rem);
  font-weight: 700;
}
.facts__item-subtitle--orange {
  color: var(--color-accent);
}
.facts__item-description {
  font-size: 1rem;
  font-weight: 400;
  text-align: justify;
  color: var(--color-text);
}
@media (min-width: 768px) {
  .facts__grid-item img {
    width: 70px;
    height: 70px;
    object-fit: contain;
  }
}
