.explore {
  width: 100%;
}
.explore-wave {
  width: 100%;
  height: 100px;
  background-image: url("../assets/images/wave-yellow-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.explore__bg {
  width: 100%;
  min-height: auto;
  padding-bottom: 40px;
  background-image: url("../assets/images/world-map-bg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.explore__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.explore__info {
  width: 100%;
  padding: 2rem 0 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @media (min-width: 768px) {
    padding: 3rem 0 2rem 1rem;
  }
  @media (min-width: 992px) {
    padding: 4.5rem 0 0.2rem 1rem;
    width: 686px;
  }
  .explore__mark {
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
    font-size: clamp(0.85rem, 2.5vw, 0.9rem);
    font-weight: 700;
    letter-spacing: 0.08rem;
    line-height: 0.9rem;
    color: var(--color-info);
    text-transform: uppercase;
  }
  .explore__title {
    width: 100%;
    text-align: center;
    font-size: clamp(2.1rem, 4.5vw, 2.86rem);
    font-weight: 700;
    line-height: 2.3rem;
  }
  .explore__text {
    align-self: flex-start;
    width: 100%;
    padding-right: 8px;
    color: var(--color-secondary);
    text-align: center;
    font-size: clamp(0.9rem, 2.5vw, 1.15rem);
    font-weight: 500;
    line-height: 1.5rem;
  }
}
.gallery {
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
}
.gallery .swiper-wrapper {
  padding: 30px 0px;
}
.swiper-slide.custom-card {
  width: 100%;
  height: auto;
  aspect-ratio: 253 / 584;
  padding: 30px 27px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-text-bg);
  transition: all 0.3s ease;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: inset 0 -55px 100px rgba(209, 195, 82, 0.3), 0 0 0 2px white,
    4.8px 4.8px 16px rgb(240, 196, 53, 0.6);
}
.custom-card__date {
  font-size: 0.88rem;
  font-weight: 500;
  color: var(--color-info);
  text-transform: uppercase;
}
.custom-card__img {
  width: 100%;
  height: 146px;
  display: block;
  object-fit: cover;
  margin: 0 auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  @media (min-width: 768px) {
    width: 277px;
    height: 204px;
  }
  @media (min-width: 992px) {
    width: 311px;
    height: 229px;
  }
}
.custom-card__body {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Rubik, sans-serif;
}
.custom-card__title {
  font-size: 1.4rem;
  line-height: 1.9rem;
  margin-top: 5px;
  margin-bottom: 18px;
  font-weight: 700;
}
.custom-card__desc {
  color: var(--color-text);
  margin-bottom: 10px;
}
.custom-card__infos {
  margin-bottom: 5px;
}
.custom-card__info {
  width: 90px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  gap: 10px;
}
.text-secondary {
  color: var(--color-text-secondary) !important;
}
.custom-card__btn {
  width: 112px;
  height: 44px;
  margin-top: 25px;
  font-size: 0.8rem;
  background-color: var(--color-accent);
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: var(--color-info);
    transform: translateY(-5px);
    box-shadow: 5px 5px 10px rgba(14, 14, 14, 0.5);
  }
}
.gallery__btn {
  position: absolute;
  top: 50%;
  transform: translate(-83px, -50%);
  z-index: 10;
  width: 30px;
  height: 30px;
  border: none;
  outline: none;
  border-radius: 50%;
  background-color: var(--color-btn-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}
.gallery__btn picture {
  img {
    pointer-events: none;
    transition: transform 0.6s ease, filter 0.3s ease;
    transform-origin: center;
    will-change: transform;
  }
}
.gallery__btn-next:hover picture {
  img {
    transform: rotateY(40deg) translateX(3px) scale(1.1);
    filter: drop-shadow(-10px 0 10px rgba(240, 196, 53, 0.5));
  }
}
.gallery__btn-prev:hover picture {
  img {
    transform: rotateY(-40deg) translateX(-3px) scale(1.1);
    filter: drop-shadow(10px 0 10px rgba(240, 196, 53, 0.5));
  }
}
.gallery__btn-prev {
  left: 75px;
  @media (min-width: 768px) {
    left: 65px;
  }
}
.gallery__btn-next {
  right: -90px;
  @media (min-width: 768px) {
    right: -100px;
  }
}
@media (min-width: 768px) {
  .swiper-slide.custom-card {
    aspect-ratio: 333 / 586;
  }
}
@media (min-width: 992px) {
  .swiper-slide.custom-card {
    aspect-ratio: 371 / 586;
  }
}
@media (min-width: 1200px) {
  .gallery__btn {
    background-color: transparent;
  }
  .gallery__btn:hover {
    background-color: transparent;
  }
  .gallery__btn-prev {
    left: 47px;
  }
  .gallery__btn-next {
    right: -118px;
  }
  .gallery__btn-next:hover picture {
    img {
      transform: rotateY(40deg) translateX(5px) scale(1.5);
      filter: drop-shadow(-10px 0 10px rgba(240, 196, 53, 0.5));
    }
  }
  .gallery__btn-prev:hover picture {
    img {
      transform: rotateY(-40deg) translateX(-5px) scale(1.5);
      filter: drop-shadow(10px 0 10px rgba(240, 196, 53, 0.5));
    }
  }
}
